.mainContainer {
  font-family: inter-light;
}

.topViewRow {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.mainViewRow {
  text-align: center;
  border: 1px solid rgb(241, 241, 241);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgb(211, 211, 211);
  background-color: white;
}

.mainViewRow .col-md-6:nth-child(1) {
  margin-top: 2%;
}

.mainViewRow p {
  padding: 10px 20px;
  text-align: left;
}

.routeWrapper {
  margin-top: 2%;
  margin-left: 5%;
}

.footer {
  text-align: center;
  margin-top: 5%;
  color: rgb(43, 43, 43);
}

.footer p {
  margin-top: 2%;
}
